<header class="fixed_header menu_v1">
  <div class="layer"></div>
  <!-- Opacity Mask -->
  <div class="container">
    <div class="row align-items-center">
      <div class="flex items-center justify-between">
        <h3>Logo</h3>
        <ul class="flex gap-5">
          <a href="/#about">
            <li>About</li>
          </a>

          <a href="/#experiences">
            <li>Experiences</li>
          </a>

          <a href="/#galley">
            <li>Gallery</li>
          </a>
        </ul>
        <div class="hamburger_2 open_close_menu float-end">
          <div class="hamburger__box">
            <div class="hamburger__inner"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
