<div class="bg_white" id="experiences">
  <div class="container margin_120_95">
    <div
      class="row justify-content-between d-flex align-items-center add_bottom_90">
      <div class="col-lg-6">
        <div class="pinned-image rounded_container pinned-image--small mb-4">
          <div class="pinned-image__container">
            <img src="/img/lions.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="title">
          <small>Local Activities</small>
          <h3>The Big Five</h3>
          <p>
            Dive into the heart of the wild with Untamed Expeditions. From the
            regal lions to the elusive leopards, experience the untamed magic of
            Africa's Big Five. Nature's royalty awaits your discovery.
          </p>
        </div>
      </div>
    </div>
    <!-- /row-->
    <div class="row justify-content-between d-flex align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="pinned-image rounded_container pinned-image--small mb-4">
          <div class="pinned-image__container">
            <img src="/img/gorilla.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-5 order-lg-1">
        <div class="title">
          <small>Local Activities</small>
          <h3>Gorilla Tracking</h3>
          <p>
            Embark on a primal quest with Untamed Expeditions. From the untamed
            savannahs to the dense jungles, our adventure continues as you trace
            the footsteps of gorillas in their natural habitat. Experience the
            wild like never before – where the heart of the jungle beats in sync
            with your own.
          </p>
        </div>
      </div>
    </div>
    <a href="blog/kilimanjaro">
      <div
        class="row justify-content-between d-flex align-items-center add_bottom_90 add_margin">
        <div class="col-lg-6">
          <div class="pinned-image rounded_container pinned-image--small mb-4">
            <div class="pinned-image__container">
              <img src="/img/kilimanjaro.jpg" alt="" />
            </div>
          </div>
        </div>

        <div class="col-lg-5">
          <div class="title">
            <small>Local Activities</small>
            <h3>Mt Kilimanjaro</h3>
            <p>
              Reach new heights with Untamed Expeditions. After the untamed
              wonders of the wild, elevate your spirit to the majestic summit of
              Mt. Kilimanjaro. Your journey doesn't end, it soars to new
              heights. Adventure awaits, where the savannah meets the sky!
            </p>
          </div>
        </div>
      </div>
    </a>

    <div class="row justify-content-between d-flex align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="pinned-image rounded_container pinned-image--small mb-4">
          <div class="pinned-image__container">
            <img src="/img/crater.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-5 order-lg-1">
        <div class="title">
          <small>Local Activities</small>
          <h3>Ngorongoro Crater</h3>
          <p>
            Embark on a primal quest with Untamed Expeditions. From the untamed
            savannahs to the dense jungles, our adventure continues as you trace
            the footsteps of gorillas in their natural habitat. Experience the
            wild like never before – where the heart of the jungle beats in sync
            with your own.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /container-->
</div>
