<section class="flex items-center justify-center flex-col" id="gallery">
  <div class="title col-12 text-center mt-5">
    <small data-cue="slideInUp">The FreeInGo Experience</small>
    <h2 data-cue="slideInUp" data-delay="100">Notable Memories</h2>
  </div>
  <div
    class="flex flex-col md:grid md:grid-cols-2 lg:grid-cols-3 items-center justify-center gap-4">
    <div>
      <img
        class="h-auto w-[300px] md: max-w-full rounded-lg"
        src="/img/img1.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto w-[300px] md:max-w-full rounded-lg"
        src="/img/img2.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto w-[300px] md:max-w-full rounded-lg"
        src="/img/lions.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto w-[300px] md:max-w-full rounded-lg"
        src="/img/img5.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto w-[300px] md:max-w-full rounded-lg"
        src="/img/img6.jpg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto w-[300px] md:max-w-full rounded-lg"
        src="/img/img7.jpg"
        alt=""
      />
    </div>
  </div>
</section>
