<section class="flex items-center justify-center flex-col" id="gallery">
  <div class="title col-12 text-center mt-5">
    <small data-cue="slideInUp">The FreeInGo Experience</small>
    <h2 data-cue="slideInUp" data-delay="100">Notable Memories</h2>
  </div>
  <div
    class="flex flex-col md:grid md:grid-cols-2 lg:grid-cols-3 items-center justify-center gap-4">
    <div>
      <img
        class="h-auto w-[300px]  md:w-[400px] md:h-[400px] object-cover rounded-lg"
        src="/img/img8.jpeg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto w-[300px] md:w-[400px] md:h-[400px] object-cover rounded-lg"
        src="/img/img11.jpeg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto w-[300px] md:w-[400px] md:h-[400px] object-cover rounded-lg"
        src="/img/about.jpeg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto w-[300px] md:w-[400px] md:h-[400px] object-cover rounded-lg"
        src="/img/about2.JPG"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto w-[300px] md:w-[400px] md:h-[400px] object-cover rounded-lg"
        src="/img/masai.jpeg"
        alt=""
      />
    </div>
    <div>
      <img
        class="h-auto w-[300px] md:w-[400px] md:h-[400px] object-cover rounded-lg"
        src="/img/img6.jpg"
        alt=""
      />
    </div>
   

    
    
   
  </div>
</section>
