<section id="hero">
  <div class="heroContainer">
    <div id="info">
      <h1>Lorem Ipsum</h1>
      <h2>Lorem ipsum.</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
        nesciunt excepturi quos obcaecati incidunt voluptatem ipsam sunt ipsum,
        autem deleniti cupiditate molestias quis unde quae totam porro dicta
      </p>
      <a id="heroButton" href="#">Contact Me</a>
    </div>
  </div>

  <script is:inline>
    var images = [
      "/imgs/img1.jpg",
      "/imgs/img1.jpg",
      "/imgs/img1.jpg",
      "https://via.placeholder.com/704x90",
    ];

    window.addEventListener("load", startBackgroundTransition);

    function startBackgroundTransition() {
      var container = document.getElementById("hero");

      setInterval(function () {
        container?.style.setProperty("--background-image", `url(${images[1]})`);
        images.push(images.shift());
      }, 3000);
    }
  </script>
</section>
